.notification {
    position: absolute;
    top: 20px;
    left: 50%;
    display: inline;
    min-width: 150px;
    padding: 10px 30px;
    color: #ffffff;
    text-align: center;
    transform: translateX(-50%);
    background-color: crimson;
}