.nav {
    padding: 30px;
    display: flex;
    background-color: #554DD8;
    margin-bottom: 30px;
}

.nav .tab {
    background-color: transparent;
}

.nav__link {
    text-decoration: none;
    color: white;
}

.nav__link:not(:last-of-type) {
    margin-right: 15px;
}